html, body {
    font-family: serif;
}
body {
    margin: 20px;
}
.container {
    text-align: center;
    width: 15%;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 15px;
}
.button-primary {
    width: 98%;
    border-radius: 7px;
    background-color: aqua;
}