html, body {
    font-family: serif;
}
body {
    margin: 20px;
    background: #232428;
    
}
.container {
    opacity: 0.9;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    
    background-color: #222124;
    border-radius: 15px;
    padding: 15px;
}
.ship {
    color: #fff;
}
.text {
    color: #fff;
}
.order-count {
    color: #fff;
}
.min-price {
    color: #fff;
}
.max-price {
    color: #fff;
}
.button-primary {
    width: 98%;
    border-radius: 7px;
    background-color: aqua;
}

.i-1 {
    border-radius: 15px;
}

.i-2 {
    margin: 0 35px;
    border-radius: 15px;
}
.b-2 {
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 50px;
    background: #f70340;
    color: #fff;
}
.result {
    
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #2A9FD6;
    border-radius: 15px;
    color: #fff;
}
.image {

}
